<!DOCTYPE html>
<html>
<head>
    <title>Cesar Break</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/stylesheets/bulma.min.css" rel="stylesheet">
</head>
<body>


<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Cesar Break
            </h1>
        </div>
    </div>
</section>

<div class="container" style="margin-top:50px;">
    <div class="notification">
        <div id="loginForm" >
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input id="email" class="input" type="text" placeholder="Email">
                </div>
                <p class="help error-form">
                </p>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input id="password" class="input" type="password" placeholder="password">
                </div>
                <p class="help error-form">
                </p>
            </div>
            <div class="field">
                <div class="control">
                    <button href="javascript:void(0)" id="submitLoginForm" class="button is-link">Connection</button>
                </div>
            </div>

            <table class=" table is-bordered ">
                <tr>
                    <td>Email</td>
                    <td>Password</td>
                </tr>
                <tr>
                    <td>test@gmail.com</td>
                    <td>test</td>
                </tr>
                <tr>
                    <td>test2@gmail.com</td>
                    <td>test2</td>
                </tr>
                <tr>
                    <td>test3@gmail.com</td>
                    <td>test3</td>
                </tr>
            </table>

        </div>

        <div id="cesarApp" style="display: none">
            <button id="reset-bdd" class="button is-warning is-pulled-right">Remise a 0 de la bdd</button>
            <div class="buttons is-centered">
                <button id="getCode" class="button is-info">Get code</button>
                <button id="getValidationSlug" class="button is-info" disabled>Get validation slug</button>
                <button id="getBatch" class="button is-info" disabled>Get batch</button>
                <small id="msg_waiting_batch" style="display:none;">Waiting for a batch...</small>
            </div>
            <article id="algorithmePanel" class="message is-warning" style="display: none;">
                <div class="message-header">
                    <p>Algorithme.js</p>
                    <button id="executeAlgo" class="button is-danger" disabled>Execute</button>
                </div>
                <div class="message-body">
                    <pre></pre>
                </div>
            </article>

        </div>
    </div>
</div>

</body>
<footer>
    <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/beautify.min.js"></script>
    <script type="text/javascript" src="/javascripts/sweetalert2.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script type="text/javascript" src="/client.js"></script>
</footer>
</html>
